<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{content.Title}} ({{content.Year}})
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="content.Poster" class="picture-center">
    <ion-card-header>
      <ion-card-title>{{content.Title}}</ion-card-title>
      <ion-card-subtitle *ngIf="content.Genre != 'N/A'">{{content.Genre}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="content.Plot != 'N/A'">{{content.Plot}}</p>
      <p *ngIf="content.Director != 'N/A'"><strong>Director:</strong> {{content.Director}}</p>
      <p *ngIf="content.Actors != 'N/A'"><strong>Actors:</strong> {{content.Actors}}</p>
      <p *ngIf="content.Released != 'N/A'"><strong>Released:</strong> {{content.Released}}</p>
      <p *ngIf="content.Runtime != 'N/A'"><strong>Runtime:</strong> {{content.Runtime}}</p>
      <p *ngIf="content.Rated != 'N/A'"><strong>Rated:</strong> {{content.Rated}}</p>
      <p *ngIf="content.Language != 'N/A'"><strong>Language:</strong> {{content.Language}}</p>
      <p *ngIf="content.Country != 'N/A'"><strong>Country:</strong> {{content.Country}}</p>
      <p *ngIf="content.Awards != 'N/A'"><strong>Awards:</strong> {{content.Awards}}</p>
      <p *ngIf="content.BoxOffice != 'N/A'"><strong>Box Office:</strong> {{content.BoxOffice}}</p>
      <p *ngIf="content.Ratings!= 'N/A'"><strong>Ratings:</strong></p>
      <ul>
        <li *ngFor="let rating of content.Ratings">{{rating.Source}}: {{rating.Value}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
