<ion-header>
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img src="assets/icon/simple_play.png" style="width: 30%;"/>
      <ion-card-header>
        <ion-card-title><h2>Welcome to OMDb Mobile application</h2></ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <p>Welcome to OMDb Mobile application, your one stop app for all things movies and series. Here's what you can do with our app:</p>
        <ul>
          <li>Search for movies and series from our vast collection.</li>
          <li>Get detailed information about your favorite movies and series.</li>
          <li>Sort and filter results to find exactly what you're looking for.</li>
        </ul>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <p>Check out the source code on my GitHub:</p>
        <ion-button expand="full" href="https://github.com/ArnaudBoissel/OMDbApp" target="_blank">Go to source code</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <p>Check out  my GitHub:</p>
        <ion-button expand="full" href="https://github.com/ArnaudBoissel?tab=repositories" target="_blank">Go to GitHub</ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
        <p>Find out more about the OMDb API:</p>
        <ion-button expand="full" href="https://www.omdbapi.com/" target="_blank">Go to OMDb API</ion-button>
      </ion-card-content>
    </ion-card>
    

</ion-content>
